@media only screen and (min-width: 822px) {

#container {
  flex-direction: row;
  overflow-y: hidden;
}

#content {
  overflow-y: scroll;
}

#menu {
  flex-direction: column;
  width: 256px;
  height: 100%;
}

#menu .button {
  flex-grow: 0;
  transition: background-color 0.4s;
}

#menu .button:hover {
  background-color: var(--menu-button-hover-background-color);
}

#menu .logo img {
  width: 64px;
  height: 64px;
  margin: 16px;
}

.media-feed .photo, .media-feed .video {
  transition: 0.2s;
}

.media-feed .photo:hover, .media-feed .video:hover {
  transform: scale(1.05);
}

.albums-tiles .tile {
  width: 224px;
  height: 224px;
  margin: 8px;
  transition: transform 0.2s;
}

.albums-tiles .tile:hover {
  transform: scale(1.05);
}

.albums-tiles .tile .title {
  font-size: 22px;
}

.person-header, .album-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  height: 192px;
}

.person-picture, .album-cover {
  width: 128px;
  height: 128px;
  border-radius: 64px;
}

.person-name, .album-title {
  font-size: 48px;
}

.media-feed .photo, .media-feed .video {
  width: 256px;
  padding-bottom: 256px;
  margin: 6px;
}

.media-feed .photo:hover {
  animation: scalein 0.2s forwards;
}

.overlay-content {
  max-width: 90%;
  max-height: 90%;
}

.tag, .tag-button {
  display: initial;
}





}
