@media only screen and (min-width: 822px) {

#container {
  flex-direction: row;
  overflow-y: hidden;
}

#content {
  overflow-y: scroll;
}

#sidebar {
  flex-direction: column;
  width: 256px;
  height: 100%;
}

#sidebar .button {
  flex-grow: 0;
}

#sidebar .logo img {
  width: 96px;
  height: 96px;
}

.people-tiles .tile:hover {
  animation: scalein 0.2s forwards;
}

.person-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  height: 192px;
}

.person-picture {
  width: 128px;
  height: 128px;
  border-radius: 64px;
}

.person-name {
  font-size: 48px;
}

.person-photos .photo {
  width: 256px;
  padding-bottom: 256px;
  margin: 6px;
}

.person-photos .photo:hover {
  animation: scalein 0.2s forwards;
}

.overlay .photo-large {
  max-width: 80%;
  max-height: 80%;
}

}
