@font-face {
	font-family: museosans;
	src: url('../fonts/museosans.otf');
}

html {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	font-family: museosans;
}

#container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

#menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 64px;
	background-color: var(--menu-background-color);
}

#menu .logo {
	text-align: center;
}

#menu .logo img {
	width: 48px;
	height: 48px;
	margin: 8px;
}

#menu .button {
	flex-grow: 1;
	height: 64px;
	line-height: 64px;
	cursor: pointer;
	text-align: center;
	color: var(--menu-text-color);
}

#content {
	flex-grow: 1;
	color: var(--content-text-color);
	background-color: var(--content-background-color);
}

#health {
	position: absolute;
	bottom: 8px;
	right: 12px;
}

#health span {
	margin-left: 8px;
}

#health.healthy {
	color: var(--text-color-green);
}

#health.unhealthy {
	color: var(--text-color-red);
}

.content-people, .content-albums {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 64px;
	max-width: 720px;
	animation: fadein 0.3s forwards;
}

.content-person, .content-album {
	height: 100%;
}

.person-header, .album-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 128px;
}

.person-picture, .album-cover {
	width: 96px;
	height: 96px;
	flex-shrink: 0;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 64px;
	background-color: var(--transparent-background-color);
	background-size: cover;
	background-position: center;
}

.person-name, .album-title {
	font-size: 32px;
	position: relative;
	top: 4px;
	margin-left: 16px;
}

.album-title {
	text-align: center;
}

.media-feed {
	max-width: 804px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.media-feed .photo, .media-feed .video {
	width: 49%;
	padding-bottom: 49%;
	margin: 0.25%;
	background-color: var(--transparent-background-color);
	background-size: cover;
	background-position: center;
	text-align: center;
	cursor: pointer;
}

.media-feed .video {
	position: relative;
}

.media-feed .video::before {
	content: '';
	width: 100%;
	height: 100%;
	mix-blend-mode: hard-light;
	background-color: var(--menu-background-color);
	background-image: url('../img/video.png');
	background-size: 33%;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	background-position: center;
	transition: background-color 0.2s, opacity 0.2s;
	opacity: 0.5;
}

.media-feed .video:hover::before {
	opacity: 0;
}

.media-feed-end {
	max-width: 720px;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

.people-search, .albums-search {
	text-align: center;
	height: 128px;
	line-height: 128px;
}

.people-search span, .albums-search span {
	font-size: 32px;
	position: relative;
	top: 12px;
	right: 12px;
	opacity: 0.25;
}

.people-tiles, .albums-tiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.people-tiles .tile {
	width: 128px;
	height: 128px;
	border-radius: 64px;
	background-color: var(--transparent-background-color);
	/* background-image: url('../img/profile-picture-default.png'); */
	background-size: cover;
	background-position: center;
	margin: 24px;
	margin-bottom: 48px;
	text-align: center;
	cursor: pointer;
}

.albums-tiles .tile {
	width: 49%;
	height: 175px;
	border-radius: 0px;
	background-color: var(--transparent-background-color);
	/* background-image: url('../img/cover-picture-default.png'); */
	background-size: cover;
	background-position: center;
	margin: 0.33%;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.people-tiles .tile .name {
	font-size: 14px;
	position: relative;
	top: 140px;
}

.albums-tiles .tile .title {
	font-size: 18px;
	color: white;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.people-search input, .albums-search input {
	border: 0;
	outline: none;
	line-height: 24px;
	padding: 8px;
	width: 256px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: var(--box-shadow);
}

::placeholder {
	opacity: 0.5;
}

.loading {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	background-color: black;
	animation: loading 0.8s infinite;
}

span.text-end-of-feed {
	font-size: 48px;
	opacity: 0.5;
}

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: var(--overlay-background-color);
}

.overlay-exit {
	position: fixed;
	top: 16px;
	right: 16px;
	color: white;
	font-size: 24px;
	cursor: pointer;
	z-index: 5;
}

.overlay-content {
	width: 100%;
	height: 100%;
	max-width: 95%;
	max-height: 95%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-buttons {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 16px;
	bottom: 16px;
	z-index: 2;
}

.overlay-content video {
	max-width: 100%;
	max-height: 100%;
}

.tag-button, .download-button {
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	border-radius: 24px;
	color: var(--context-text-color);
	background-color: white;
	cursor: pointer;
	margin-top: 16px;

	/* necessary for span glyphicon? */
	padding-left: 2px;
	padding-top: 2px;
}

.tag, .tag-button {
	display: none;
}

.tag {
	position: fixed;
	left: 80px;
	bottom: 16px;
	width: 256px;
	display: flex;
	flex-direction: column;
	z-index: 3;
}

.tag-input {
	display: flex;
}

.tag-input input {
	border: 0;
	outline: none;
	line-height: 24px;
	padding: 8px;
	width: 100%;
	margin-bottom: 4px;
	background-color: white;
}

.tag-options {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
}

.tag-options .option {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: white;
}

.tag-options .option.selected {
	background-color: var(--selected-background-color);
	color: var(--selected-text-color);
}

.tag-options .option.new::before {
	content: '+ ';
}

.tag-options .option.new.selected {
	background-color: var(--text-color-green);
}

.tagged-people {
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 3;
}

.tagged-people .person {
	display: flex;
	justify-content: space-between;
	width: 256px;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    color: var(--content-text-color);
    background-color: white;
    margin-top: 8px;
    transition: 0.5s;
    opacity: 0.5;
}

.tagged-people .person:hover {
	opacity: 1.0;
}

.tagged-people .person span.glyphicon {
	font-size: 14px;
	line-height: 34px;
	cursor: pointer;
}
